name: Hyperdash Monitor Clean

on:
  schedule:
    - cron: "*/5 * * * *"   # каждые 5 минут
  workflow_dispatch:        # ручной запуск

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            chromium \
            libnss3 \
            libxss1 \
            libasound2 \
            libxrandr2 \
            libatk1.0-0 \
            libatk-bridge2.0-0 \
            libcups2 \
            libdrm2 \
            libxkbcommon0 \
            libxcomposite1 \
            libxdamage1 \
            libxfixes3 \
            libgbm1 \
            libpango-1.0-0 \
            libpangocairo-1.0-0 \
            fonts-liberation \
            libappindicator3-1 \
            xdg-utils \
            wget

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: |
          export PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true
          npm install

      - name: Run monitor script
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
          PUPPETEER_EXECUTABLE_PATH: "/usr/bin/chromium"
          PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: "true"
        run: node check-once.js
