name: Hyperdash Monitor Clean

on:
  schedule:
    - cron: "*/5 * * * *"   # каждые 5 минут
  workflow_dispatch:        # ручной запуск

jobs:
  check:
    runs-on: ubuntu-latest
    container: node:20-bullseye  # готовый контейнер Node 20

    steps:
      - name: Install system dependencies
        run: |
          apt-get update
          apt-get install -y \
            libnss3 \
            libatk1.0-0 \
            libatk-bridge2.0-0 \
            libcups2 \
            libdrm2 \
            libxkbcommon0 \
            libxcomposite1 \
            libxdamage1 \
            libxfixes3 \
            libxrandr2 \
            libgbm1 \
            libpango-1.0-0 \
            libasound2 \
            libpangocairo-1.0-0 \
            fonts-liberation \
            libappindicator3-1 \
            xdg-utils \
            wget \
            chromium

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Check Node version
        run: |
          node -v
          npm -v

      - name: Install dependencies
        run: npm install

      - name: Run monitor script
        env:
          PUPPETEER_EXECUTABLE_PATH: "/usr/bin/chromium"
          PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: "true"
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: node check-once.js
